@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--bg-color: #192028;
	--standar-card-bg: #1f2a33;
	--premium-card-bg: #2a3942;
	--button-bg: #ae782f;
	--button-hover-bg: #d47b15;
	--text-color: #e5e7eb;
}

html,body,#__next{
	height:100%;
}

body{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	background-color: var(--bg-dark);
}


